@media (min-width: 1100px) {

  .container {
      margin-right: 80px;
      margin-left: 80px;
  }
}
@media (min-width: 1440px) {
  .container {
      margin-right: calc((100vw - 1350px) / 2);
      margin-left: calc((100vw - 1350px) / 2);
  }

}